---
import { Icon } from 'astro-icon/components'

// Card.astro
interface Props {
    title: string;
    excerpt: string;
    featuredImage: string;
    date: string;
    slug: string;
    tags: { name: string; slug?: string }[];
}
const { title, excerpt, featuredImage, date, slug, tags } = Astro.props;
---

<div class="overflow-hidden shadow-md hover:shadow-lg transition-all duration-300">
    <div class="relative overflow-hidden">
        <img 
            src={featuredImage}
            alt={title} 
            class="bject-cover duration-300 hover:scale-105" 
        />
        <div class="absolute inset-0 bg-gradient-to-t from-slate-900/30 to-transparent" />
    </div>
    
    <div class="p-6 space-y-4">
        <div class="flex items-center gap-2 text-sm font-medium">
            <Icon class="text-rose-500" name="lucide:clock-7" size={20}/> <span class="text-rose-500">{date}</span>
        </div>
        <div class="flex items-center gap-2">
            <Icon name="lucide:tag" size={20} />
            <div class="flex gap-2 items-center">
                {tags.map((tag: any) => <span>#{tag.name}</span>)} 
            </div>
        </div>
        <a href={`/post/${slug}`}>
            <h3 class="text-xl uppercase text-gray-800 font-extrabold transition-colors"             transition:name={slug}>
            {title}
        </h3>
        </a>
        <div 
            class="text-base text-gray-500 leading-relaxed line-clamp-3"
            set:html={excerpt}
        />
        <a
            href={`/post/${slug}`}
            class="inline-flex items-center font-semibold uppercase py-3 px-4 border-2 border-rose-400 text-rose-400 hover:text-white hover:bg-rose-400 duration-300 transition-colors"
        >
            Leer más
        </a>
    </div>
</div>