---
interface Props {
    title: string;
    excerpt: string;
    featuredImage: string;
    date: string;
    slug: string;
}
const { title, excerpt, featuredImage, date, slug } = Astro.props;
---

<div class="bg-white rounded overflow-hidden">
    <img src={featuredImage} alt={title} class="w-full h-52 object-cover" />
    <div class="p-6">
        <h3 class="text-lg font-semibold text-slate-900 mb-3">
            {title}
        </h3>
        <div
            class="text-slate-600 text-sm leading-relaxed"
            set:html={excerpt}
        />
        <p class="text-orange-500 text-[13px] font-semibold mt-2">
            {date}
        </p>
        <a
            href={`/post/${slug}`}
            class="mt-6 inline-block px-4 py-2 rounded tracking-wider bg-orange-500 hover:bg-orange-600 text-white text-[13px] font-medium"
            >Read More</a
        >
    </div>
</div>
